[run]
branch = True
omit =
    */tests*
    */__init__.py
    q2_alignment/_version.py
    versioneer.py

[report]
omit =
    */tests*
    */__init__.py
    q2_alignment/_version.py
    versioneer.py
